---
layout: page
#title: Blog
description: <b>Forge'it</b> thoughts, stories and ideas.
---

{% for post in paginator.posts %}
{% assign author = site.data.authors[post.author] %}
<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="post-title">      {{ post.title }}
    </h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">
      {{ post.subtitle }}
    </h3>
    {% endif %}
  </a>
  <p class="post-meta">
    <span>
      <img style="display: inline; vertical-align: initial; border-radius: 10px" src="https://secure.gravatar.com/avatar/{{author.gravatar}}?s=17"/>
    </span>
    Posted by
    {% if post.author %}
      {{ author.name }}
    {% else %}
      {{ site.title }}
    {% endif %}
    on {{ post.date | date: "%B %-d, %Y" }}
  </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
