---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">
            <img style="display: inline; vertical-align: initial; border-radius: 10px" src="https://secure.gravatar.com/avatar/{{author.gravatar}}?s=17"/>
            Posted by
            {% if page.author %}
              {{ author.name }}
            {% else %}
              {{ site.title }}
            {% endif %}
            on {{ page.date | date: "%B %-d, %Y" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

        <hr>

        <!-- Disqus comments -->
        {% if site.disqus %}
          {% include disqus.html %}
        {% endif %}

        <ul class="pager">
          {% if page.previous.url %}
          <li class="previous">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
          </li>
          {% endif %}
          {% if page.next.url %}
          <li class="next">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
</article>

<hr>
